.jumbotron {
    background-color: goldenrod;
    color: #800020;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#startGame {
    background-color: #800020;
    color: white;
}


body {
    background-image: url('../images/harry-potter-hogwarts-illustrated_a-G-15745040-0.jpg');
    
    margin: auto
    
}

#theTimer {
    text-align: center;
    background-color: goldenrod;
    margin: -150px solid #800020;
}
